.gallery {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: clamp(0px, 2.1276595745vw, 24px);
  row-gap: clamp(0px, 4.255319149vw, 48px);
}

.gallery-item {
  width: 100%;
}

.gallery-link {
  display: block;
  width: 100%;
}

.gallery-image {
  display: block;
  width: 100%;
  aspect-ratio: 6 / 5;
  object-fit: cover;
}
